{% include "header.html" %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{url_for('static',filename='assets/img/about-bg.jpg')}})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">A small team with big ideas.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                       <p>Every month, PICTOROBO curates unique items and products.Pictorobo is an USA company primarily shipping to USA customers committed to delivering Innovation and Convenience to its customers. </p>
                        <p>We are your one-stop destination to all your daily needs - spreading positivity and creativity with our unique finds. We started in 2014 and it is our mission to only list the BEST and most AFFORDABLE items on this website. </p>
                        <p>You, our customers, drive us to be really picky in choosing what products to offer. If you don’t see something listed on this web store, it's probably because we didn't think much of it or we never encountered it in our search. If you do find a unique product worthy of being listed here, reach out to us. Share your experience with us by sending a picture or video of yourself with the shiny new product you bought from us.</p>
                    </div>
                </div>
            </div>
        </main>
{% include "footer.html" %}